body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(15deg, #c9e8fa 0%, #b6e0f8 100%);
  background-attachment: fixed;
}

h1,
#city,
#country {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}
h2 {
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-bar {
  padding: 5px;
  margin: 5px 0 0 0;
}
.background-box {
  background-color: #f8fdff;
  margin: 40px;
  padding: 5px;
  border-radius: 10px;
  max-width: 1000px;
}

.cloud-rain {
  padding: 20px;
  margin: 100px;
}

.day {
  text-align: center;
}
.daily-icon {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.suntime {
  font-size: 16px;
  margin: 0 auto;
}

.day-name {
  text-align: center;
  font-weight: bold;
}

.fa-sun,
.fa-cloud,
.fa-cloud-rain {
  transition: all 150ms ease-in;
}
.fa-sun:hover {
  color: orange;
}

.fa-cloud:hover {
  color: rgb(163, 163, 163);
}
.fa-cloud-rain:hover {
  color: lightskyblue;
}

#temperature {
  display: inline;
}

#position-button {
  display: inline;
}

#Github-link {
  font-size: 12px;
}

#description {
  text-transform: capitalize;
}

.weather-info .active {
  color: black;
  cursor: default;
}
.weather-info .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.weather-forecast-date,
.weather-forecast-temp-min {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 15px;
}
